export(frag.cycles)
export(frag.diameters)
export(frag.edges.weighting)
export(frag.get.layers)
export(frag.get.layers.pair)
export(frag.graph.plot)
export(frag.layers.admixture)
export(frag.layers.cohesion)
export(frag.get.parameters)
export(frag.path.lengths)
export(frag.relations.by.layers)
export(frag.simul.process)
export(make_cr_graph)
export(make_crsr_graph)
export(make_frag_object)
exportClasses(Frag.object)
import(igraph)
importFrom(grDevices,rainbow)
importFrom(grDevices,rgb)
importFrom(graphics,hist)
importFrom(methods,new)
importFrom(stats, na.omit, sd)
importFrom(RBGL, boyerMyrvoldPlanarityTest)
